<!DOCTYPE html>
<html>
<head>
    <title>Add Incident</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="center-wrapper">
    <div class="card">
        <h1>Add Incident</h1>
        <p class="subtitle">Report a new issue</p>

        <form method="POST">
            <input name="title" placeholder="Describe the issue..." required>
            <button type="submit">Submit</button>
        </form>

        <p class="bottom-text">
            <a href="/dashboard">⬅ Back to Dashboard</a>
        </p>
    </div>
</div>

</body>
</html>